version: 2
jobs:
  rails-checkout:
    working_directory: ~/repo
    docker:
       - image: circleci/ruby:2.4.1-node-browsers
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

   rails-server:
    working_directory: ~/repo
    docker:
       - image: circleci/ruby:2.4.1-node-browsers
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: rails server
          command: |
            make deps-server
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}
          
  checkout-client:
    working_directory: ~/repo
    docker:
      - image: circleci/node:8.2.1
    steps:
      - checkout
      - run: shasum ksk/package.json ryoma/package.json > /tmp/checksum.tmp
      - restore_cache:
          key: v1-dependencies-client-{{ checksum "/tmp/checksum.tmp" }}
      - run:
          name: Install dependencies
          command: make deps-client
      - save_cache:
          key: v1-dependencies-client-{{ checksum "/tmp/checksum.tmp" }}
          paths:
            - ksk/node_modules
            - ryoma/node_modules
      - save_cache:
          key: v1-repo-client-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - .
  build-client:
    working_directory: ~/repo
    docker:
      - image: circleci/node:8.2.1
    steps:
      - restore_cache:
          key: v1-repo-client-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Build src
          command: make build-client
      - save_cache:
          key: v1-build-client-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - release/client

  deploy-develop:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:1.9
    steps:
      - checkout
      - restore_cache:
          key: v1-build-server-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: v1-build-client-{{ .Environment.CIRCLE_SHA1 }}
      - add_ssh_keys:
          fingerprints:
      - run:
          command: |
            ssh-keyscan -H $SERVER_ADDR >> ~/.ssh/known_hosts
      - deploy:
          command: make deploy-develop
           
workflows:
  version: 2
  build:
    jobs:
      - rails-checkout:
          filters:
            branches:
              only:
                - master
                - develop
##    - rails-server:
##        filters:
##          branches:
##            only:
##              - master
##              - develop
##   - deploy-develop:
##        requires:
##          - rails-sercer
##          - build-client
##        filters:
##          branches:
##            only: develop
